h3 Now Lets Import into Tumblr
- if ( blogs.length )
  form(method = "POST", action="/importToTumblr")
    h4 Which Blog Shall I import into
    input(name = "wordpress_posts", value = wordpress.channel.item, style = "display:none")
    - first = true
    - each blog in blogs
      - if( first )
        input(type = "radio", value = "#{blog.name}", name = "blogChoice", id = "blogchoice_#{blog.name}", checked = "checked")
        - first = false
      - else
        input(type = "radio", value = "#{blog.name}", name = "blogChoice", id = "blogchoice_#{blog.name}")
      label(for = "blogchoice_#{blog.name}")= blog.name
      br
    h4 Which Posts Should I import
    - each post in wordpress.channel.item
      if (post["wp:post_type"] == "post")
        if ( typeof(post.title) == "string" )
          input(id = "blogpost_#{post['wp:post_id']}", type = "checkbox", value="#{post['wp:post_id']}", name = "selectedImports")
          label(for = "blogpost_#{post['wp:post_id']}")= post.title
          br
    input(type = "submit")
- else
  h2 Error... you have no blogs yet